# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\cassi_wh5ztk2\Documents\GitHub\Unit\5_Periodo\Estrutura_Dados_Avancada\estrutura-dados-avancada\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
